* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 300px;
}

.notice {
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldset {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.add {
  padding: 10px;
  margin-right: 5px;
}

.add_btn {
  padding: 5px;
}
