* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  max-height: 500px;
}

.todo_heading {
  margin-top: 10px;
}

.notice {
  width: 350px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}

.heading {
  margin: 20px;
  color: violet;
}

.input_section {
  display: flex;
  align-items: flex-end;
  padding: 5px;
  margin: 0;
}

.todo_input {
  border: none;
  background-color: transparent;
  width: 95%;
  padding-top: 15px;
  padding-left: 10px;
  outline: none;
}

.list_content {
  width: 100%;
  padding: 10px;
  margin: 5px;
}

.todo_task {
  border: none;
  background-color: transparent;
  width: 90%;
  margin-bottom: 5px;
  padding-left: 10px;
  outline: none;
}

.edit,
.remove {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
  margin-left: 5px;
}

.edit {
  color: rgb(85, 85, 255);
}

.remove {
  color: brown;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(243, 243, 243);
  box-shadow: 5px 5px 15px grey;
  width: 90%;
  margin-bottom: 30px;
}

.todo_body {
  width: 100%;
}

.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-ellipsis-vertical {
  margin-right: 15px;
}

.enter {
  color: grey;
  transform: rotate(90deg);
}

.todo_text {
  margin-left: 10px;
}

.todo_list {
  max-height: 200px;
  overflow-y: scroll;
  width: 100%;
}

.todo_list::-webkit-scrollbar {
  width: 8px;
}

.todo_list::-webkit-scrollbar-track {
  background-color: #fff;
}

.todo_list::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #3d3d3d;
}

.todo_list::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 10%, 70%);
}

.todo_list::-webkit-scrollbar-thumb:active {
  background-color: hsl(0, 10%, 60%);
}
hr {
  width: 100%;
  color: grey;
}

.clear_btn {
  width: 100%;
  background-color: antiquewhite;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
}

@media only screen and (min-width: 800px) {
  .todo {
    width: 50%;
  }
}
